footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.055);
    font-size: 1.6rem;
}
footer i{
    color: rgba(46, 45, 45, 0.801) !important;
}