nav{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #49A0EB;
    padding: 15px 0;
    background-color: #49A0EB;
    color: #fff;
    box-shadow: 0 2px 2px 0px rgba(0,0,0,.2);
}