*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#main-section{
  display: flex;
  justify-content: center;
  padding: 30px 0;
  height: 90vh;
}
.resources-container{
  width: 1200px;
  max-width: 100%;
  margin: 0 20px;
  display: grid;
  grid-template-columns: 400px auto;
  grid-gap: 10px;
}
.keywords-container{
  border: 1px solid rgba(0, 0, 0, 0.144);
  padding: 10px;
}
.links-container{
  border: 1px solid rgba(0, 0, 0, 0.144);
  padding: 10px;
  overflow-y: scroll;
}
.btn-lang{
  background-color: transparent;
  padding: 4px 10px;
  margin-right: 5px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.205);
  outline: none;
}
.btn-lang:active{
  background-color: rgba(0, 0, 0, 0.109);
}
.container-text{
  margin-bottom: 5px
}

.link-box{
  border: 1px solid rgba(0, 0, 0, 0.205);
  margin: 10px 0;
  padding: 1rem;
}
.link-box h3{
  color: black;
  width: auto;
}
.link-box a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.486);
}